body {
    background-color: #8ea4f8;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
}