<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixiaoxin.mapper.TUserMapper">

    <resultMap id="BaseResultMap" type="com.lixiaoxin.domain.TUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="des" column="des" jdbcType="VARCHAR"/>
            <result property="hobby" column="hobby" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,pwd,
        city,des,hobby,
        sex
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="findAll" resultType="com.lixiaoxin.domain.TUser">
        select * from t_user
    </select>
    <select id="selectByName" resultType="com.lixiaoxin.domain.TUser">
        select * from t_user where name=#{name}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_user
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lixiaoxin.domain.TUser" useGeneratedKeys="true">
        insert into t_user
        ( id,name,pwd
        ,city,des,hobby
        ,sex)
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR}
        ,#{city,jdbcType=VARCHAR},#{des,jdbcType=VARCHAR},#{hobby,jdbcType=VARCHAR}
        ,#{sex,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lixiaoxin.domain.TUser" useGeneratedKeys="true">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="pwd != null">pwd,</if>
                <if test="city != null">city,</if>
                <if test="des != null">des,</if>
                <if test="hobby != null">hobby,</if>
                <if test="sex != null">sex,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="pwd != null">#{pwd,jdbcType=VARCHAR},</if>
                <if test="city != null">#{city,jdbcType=VARCHAR},</if>
                <if test="des != null">#{des,jdbcType=VARCHAR},</if>
                <if test="hobby != null">#{hobby,jdbcType=VARCHAR},</if>
                <if test="sex != null">#{sex,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lixiaoxin.domain.TUser">
        update t_user
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="pwd != null">
                    pwd = #{pwd,jdbcType=VARCHAR},
                </if>
                <if test="city != null">
                    city = #{city,jdbcType=VARCHAR},
                </if>
                <if test="des != null">
                    des = #{des,jdbcType=VARCHAR},
                </if>
                <if test="hobby != null">
                    hobby = #{hobby,jdbcType=VARCHAR},
                </if>
                <if test="sex != null">
                    sex = #{sex,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lixiaoxin.domain.TUser">
        update t_user
        set 
            name =  #{name,jdbcType=VARCHAR},
            pwd =  #{pwd,jdbcType=VARCHAR},
            city =  #{city,jdbcType=VARCHAR},
            des =  #{des,jdbcType=VARCHAR},
            hobby =  #{hobby,jdbcType=VARCHAR},
            sex =  #{sex,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
